[submodule "packer-xenserver"]
	path = packer-xenserver
	url = git@github.com:imduffy15/packer-xenserver.git
[submodule "cookbook_nat-router"]
	path = cookbook_nat-router
	url = git@github.com:imduffy15/cookbook_nat-router.git
[submodule "cookbook_cloudstack"]
	path = cookbook_cloudstack
	url = git@github.com:imduffy15/cookbook_cloudstack.git
[submodule "cloudstack"]
	path = cloudstack
	url = https://github.com/apache/cloudstack.git
